body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 1000px 600px 
  }
  /* What kind of selector is this? */
  logo {
    max-width: 150px;
    height: 150px  
  }
 
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 50%;
  }
 
  main {
    height: auto;
    width: 50%
    grid-template-row 30% 40% 30%;
    padding: 2px;
    margin: auto;
    size: 300px;
    justify-content: center;
  }
 
  /* This is an element within and element selector */ 
    nav > a {
    margin: 3% 3% 3%;
    height: 5%;
    width: 100%;
    color:gray;
    font-size: small Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background: green;
    padding: 50px;
    border: 2px solid white;
    justify-content: right;
    flex-direction: row;
    padding-top: 50px;
  }
 
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px;
  }
 
  nav {
    display:flexbox;
    justify-content: right;
    padding-right: 2%;
    width: 800px;
    justify-items: right;
    flex-direction: row;

 
  /* This is an ID selector */
  
}