body{
background-color: darkcyan;
align-items: center;


}
main{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(197, 227, 228);


}
 section{
    flex-direction: column;
    height: auto;
   padding: 30px;


}
header{
    align-items: center;
    background-color: cadetblue;
   
}
    
.has form{
    float: left;
    padding: 10px;
    margin-left:100px ;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    
}
h6{
   
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}
h5{

    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
@media( max-width :600px){
    main{
        display: block;
        margin: auto;
        padding: 30px;
        width: 900px;
    }
h2{
     list-style-position: inside;
     max-width: 150px; 
     background-size: auto;
     background-color: none;
     margin: none;
     padding: 20px;
}
h1{
    background-size: none;
    list-style-position: inside;
    margin: none;
    background-color: none;
}
h6{
    list-style-position: inside;
     max-width: 150px; 
     background-size: auto;
     background-color: none;
     margin: none;
     padding: 20px;
}
h5{ list-style-position: inside;
    max-width: 150px; 
    background-size: auto;
    background-color: none;
    margin: none;
    padding: 20px;
display: auto;
}
header{
list-style-position: inside;
    max-width: 300px; 
    background-size: auto;
    background-color: none;
    margin: none;
    padding: 20px;
    display: auto;
}
}
form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background-color: rgb(197, 227, 228);
}